Options +ExecCGI -Indexes +FollowSymLinks
DirectoryIndex index.php index.html index.htm

AddDefaultCharset UTF-8
SetEnv SERVER_ADMIN support@gelezka.net

<IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteBase /

        RewriteRule ^.htaccess$ - [F]

	RewriteCond %{HTTP_HOST} ^(www\.)?gelezka\.info$ [NC]
	RewriteRule ^(.*)$ http://www.gelezka.net/$1 [R=301,L]

	RewriteCond %{HTTP_HOST} ^gelezka\.net$ [NC]
	RewriteRule ^(.*)$ http://www.gelezka.net/$1 [R=301,L]

        RewriteCond %{REQUEST_FILENAME} -f

        RewriteRule . %{REQUEST_FILENAME} [L]
	RewriteRule ^.*$ app/site/ [L]
</IfModule>
