Options +FollowSymlinks
Options -Indexes

AddDefaultCharset UTF-8

RewriteEngine on

RewriteBase / 

RewriteRule ^.htaccess$ - [F]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

#Category/list/page/4		Catalog/Mobiles/Edit Catalog/Mobiles/list/page/4

RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/page/([0-9]+)/?$ admin/index.php?Controler=$1&Action=List&page=$2 [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/([a-zA-Z0-9_]+)/?$ admin/index.php?Controler=$1&Action=$2&Item=$3 [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/?$ admin/index.php?Controler=$1&Action=$2 [L]

RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/list/page/([0-9]+)/?$ admin/index.php?Controler=$1&Model=$2&Action=List&Item=$4&page=$5 [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/edit/([a-zA-Z0-9_]+)/?$ admin/index.php?Controler=$1&Model=$2&Action=Edit&Item=$3 [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/([a-zA-Z0-9_]+)/?$ admin/index.php?Controler=$1&Model=$2&Action=$3 [L]
RewriteRule ^([a-zA-Z_]+)/([a-zA-Z_]+)/?$ admin/index.php?Controler=$1&Model=$2&Action=List [L]

RewriteRule ^([a-zA-Z_]+)/?$ admin/index.php?Controler=$1 [L]