AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteRule ^.htaccess$ - [F]

	RewriteCond %{REQUEST_FILENAME} -f

	RewriteRule . %{REQUEST_FILENAME} [L]
	RewriteRule . ./app/site/index.php [L]
</IfModule>
