#Options +FollowSymlinks
#Options -Indexes

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /

	RewriteRule ^.htaccess$ - [F]

	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d

	RewriteRule \.(js|ico|swf|gif|jpg|png|css|xml|txt|htm|html)$ %{SCRIPT_FILENAME} [L]
	RewriteRule ^admin app/admin/ [L]
	RewriteRule !^admin app/site/ [L]

</IfModule>