	/* Blueprint modify */
.container { margin-bottom:10px; width:99%; min-width:200px;}

	/* JQuery ui css modify */
.ui-widget { margin:1em 0; } 
.ui-widget-header { font-weight: bold; font-size:0.9em; margin-bottom:0.4em; padding:0.4em; }
.ui-widget-header .ui-icon { float:right; margin-top:-2px; }
/* .ui-widget-content { padding:0.4em; } */ 
.ui-dialog input { margin-bottom:12px; width:95%; padding: .4em; }
.ui-dialog fieldset { padding:0; border:0; margin-top:25px; }

	/* Accordion */
.ui-accordion .ui-accordion-header {cursor:pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding:10px; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }

	/* jqGrid modify */
input.ui-pg-input { width: 4em !Important; padding: 3px !Important; white-space:pre; }
.ui-jqgrid { font-size:11px !Important; }
.FormData .FormElement { margin:5px 2px; }
.ui-jqdialog-content .CaptionTD { vertical-align:middle; text-align:right; }
.ui-searchFilter table td input, .ui-searchFilter table td select { margin:0.5em 2px; }
.ui-searchFilter table tfoot td {height:3em; padding:2px; }

.blackMenuStrip{ background:#252525; font-weight:bold; height: 2.5em; padding:0 5px; line-height:2.5em; text-align:right; }
.blackMenuStrip a, .blackMenuStrip span{ color:#E6E6E6; text-decoration:none; }
.blackMenuStrip a:hover{ color:#fff; }

.menuItem { margin:auto .5em; }

.actions{
	height:50px;
	line-height:50px;
	padding:3px;
}

.kit-form { width:800px; margin:0 auto; }
.kit-form .ui-widget-content { padding:.5em; }
.kit-text { width:95% !Important; }

.customFields { margin:1.5em 0 0 0; }