SetEnv APPLICATION_ENV development
Options +ExecCGI -Indexes +FollowSymLinks
AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{HTTP_HOST} ^satdevice\.com$ [NC]
RewriteRule ^(.*)$ http://www.satdevice.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
