<?xml version="1.0"?>
<configdata>
	<database>
		<adapter>Mysqli</adapter>
		<params>
			<host>127.0.0.1</host>
			<username>root</username>
			<password></password>
			<dbname>GELEZKA</dbname>
		</params>
	</database>
	<tables>
		<advertizers>
			<table>MIXMART_ADVERTIZERS</table>
			<fields>
				<id>ADVERTIZERS_ID</id>
				<title>ADVERTIZERS_TITLE</title>
			</fields>
		</advertizers>
		<regions_delivery>
			<table>MIXMART_REGIONSDELIVERY</table>
			<fields>
				<id>REGIONSDELIVERY_ID</id>
				<title>REGIONSDELIVERY_TITLE</title>
			</fields>
		</regions_delivery>
		<adv_region_delivery>
			<table>MIXMARKET_ADVREGIONDELIVERY</table>
			<fields>
				<advid>ADVREGIONDELIVERY_ADVID</advid>
				<rdid>ADVREGIONDELIVERY_RDID</rdid>
			</fields>
		</adv_region_delivery>
		<regions_geotarget>
			<table>MIXMARKET_REGIONSGEOTAGRET</table>
			<fields>
				<id>REGIONSGEOTAGRET_ID</id>
				<pid>REGIONSGEOTAGRET_PID</pid>
				<title>REGIONSGEOTAGRET_TITLE</title>
			</fields>
		</regions_geotarget>
		<adv_region_geotarget>
			<table>MIXMARKET_ADVREGIONGEOTARGET</table>
			<fields>
				<advid>ADVREGIONGEOTARGET_ADVID</advid>
				<rgtid>ADVREGIONGEOTARGET_RGTID</rgtid>
			</fields>
		</adv_region_geotarget>
		<currencies>
			<table>MIXMARKET_CURRENCIES</table>
			<fields>
				<id>CURRENCIES_ID</id>
				<rate>CURRENCIES_RATE</rate>
			</fields>
		</currencies>
		<brands>
			<table>MIXMARKET_BRANDS</table>
			<fields>
				<id>BRANDS_ID</id>
				<title>BRANDS_TITLE</title>
			</fields>
		</brands>
		<categories>
			<table>MIXMARKET_CATEGORIES</table>
			<fields>
				<id>CATEGORIES_ID</id>
				<parentId>CATEGORIES_PID</parentId>
				<title>CATEGORIES_TITLE</title>
			</fields>
		</categories>
		<offers>
			<name>MIXMARKET_OFFERS</name>
			<fields>
				<id>OFFERS_ID</id>
				<brandid>OFFERS_BRANDID</brandid>
				<advid>OFFERS_ADVID</advid>
				<cat>OFFERS_CATID</cat>
				<src>OFFERS_IMG</src>
				<w>OFFERS_IMGW</w>
				<h>OFFERS_IMGH</h>
				<type>OFFERS_TYPE</type>
				<name>OFFERS_NAME</name>
				<url>OFFERS_URL</url>
				<currencyId>OFFERS_CURRENCYID</currencyId>
				<desc>OFFERS_DESC</desc>
				<price>OFFERS_PRICE</price>
			</fields>
		</offers>
	</tables>
</configdata>
