AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /app/site/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^.htaccess$ - [F]
	RewriteRule . ./index.php [L]
</IfModule>
