Options +ExecCGI -Indexes +FollowSymLinks
DirectoryIndex index.php index.html index.htm

AddDefaultCharset UTF-8
SetEnv SERVER_ADMIN support@gelezka.net

<IfModule mod_rewrite.c>
        RewriteEngine on
        RewriteBase /app/site

        RewriteRule ^.htaccess$ - [F]

#       RewriteCond %{HTTP_HOST} !^www\\.gelezka\\.(.+)$ [NC]
#       RewriteRule ^(.*)$ http://www.gelezka.net/$1 [R=301,L]

        RewriteCond %{REQUEST_FILENAME} -f

        RewriteRule . %{REQUEST_FILENAME} [L]
        RewriteRule ^.*$ index.php [L]
</IfModule>
