Options +FollowSymlinks
Options -Indexes

AddDefaultCharset UTF-8

RewriteEngine on

RewriteBase /

RewriteRule ^.htaccess$ - [F]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d


RewriteRule ^admin app/admin/ [L]
RewriteRule ^!admin app/site/ [L]

#RewriteRule ^admin.*!\.(js|ico|swf|gif|jpg|png|css|xml)$ app/admin/index.php [L]
#RewriteRule ^admin app/admin/index.php [L]

#RewriteRule ^!admin.*!\.(js|ico|swf|gif|jpg|png|css|xml)$ app/site/index.php [L]
#RewriteRule ^!admin app/site/index.php [L]

#RewriteRule !\.(js|ico|swf|gif|jpg|png|css|xml)$ index.php [L]
